html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #222831;
    color: white;
    display: flex;
    flex-direction: column;
}

.container-grid
{
    display: flex;
    justify-content: center;
}

.titulo 
{
    text-align: center;
    background-color: darkgoldenrod;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-around;    
}

#grid 
{
    height: 35vw;
    width: 35vw;
    background-color: white;
    margin: 12px;
    display: flex;
    flex-direction: column;
    border: 2px solid darkgoldenrod;    
}

.linha
{
    display: flex;
    flex: auto;
    background-color: black;
    
}

.pixel
{
    flex: auto;
    background-color: white;
}

.pixel.permanent-color
{
    background-color: red;
}